.logo {
    letter-spacing: 2px;
    font-size: medium;
    color: #382f33 !important;
    font-weight: 500;
}

.navbar {
    background-color: white;
}

/* #383D3B - BLACK OLIVE
#EEE5E9 - LAVANDER BLUSH
#7C7C7C - GRAY WEB
#92DCE5 - MIDDLE BLUE
#52DEE5 - DARK TURQUOISE */